<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Spectrum Project</title>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/Users/frankdu/Desktop/website_example/static/index.css"> -->
  </head>
  <body>
    <h1 id="inspired">Inspired by Spectrum Art Masterpiece from Frank</h1>


<table border="1" class="art">
  <tr>
    <td id="a">
      <form method="post" action="/parse">
          <label for="input_example">請輸入：</label>
          <textarea name="text" id="input_example" placeholder="在這邊輸入" name="formula_input"></textarea>
          <!-- <input type="text" id="input_example" placeholder="在這邊輸入" name="user_input"> -->
          <input type="submit">
      </form>      

    </td>
    <td id="b">
      {{parsedFormula}}
    </td>
    <!-- <td id="c"></td>
    <td id="d"></td>
    <td id="e"></td> -->
  </tr>

</table>


<style media="screen">

#inspired{
  font-family: 'Dancing Script', cursive;
  width:50%;
  text-align:center;
  margin:auto;
}
table{
  margin-top: 30px;
  margin:auto;
}
td{
  background-color: black;
  height: 300px;
  width: 200px;
}
#a{
background-color:  #FE938C;
}
#b{
  background-color: #E6B89C;
}
#c{
  background-color: #EAD2AC;
}
#d{
  background-color: #9CAFB7;
}
#e{
  background-color: #4281A4;
}


</style>

  </body>
</html>
